.App {
    text-align: left;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @page {
    size: A4;
    margin: 1cm;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .header-t5{
    margin-top: 3%;
  }
  
  
  .heading-t5 {
    font-size: 14px;
    margin-top: 59px;
    margin-bottom: 10px;
    line-height: 1.3;
    color: rgb(3, 74, 4);
  }
  
  
  .main-header-t5{
    text-align: center;
    color: rgb(3, 74, 4);
    margin-top: -24%;
  }
  
  .top-heading-t5{
    padding: 0px;
  }
  
  .logo-image-t5{
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 0%;
    width: 35px;
    margin-top: -67px;
    
  }
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .english-text-t5 {
    font-family: 'Poppins', sans-serif;
  } 
  .a4-t5 {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    margin: auto;
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: rgb(161, 161, 73); 
  }
  
  .inner-border-t5 {
    width: calc(100% - 30px); 
    height: calc(100% - 30px); 
    border: 3px solid rgb(0, 110, 0);
    box-sizing: border-box; 
    margin: 15px;
    padding: 10%;
  }
  
  .personal-details-t5 {
    padding: 0;
  }
  
  .custom-table-t5 {
    width: 100%;
    border-collapse: collapse;
    border: none;
  }
  
  .custom-table-t5 th, .custom-table-t5 td {
    padding: 8px;
    text-align: left;
    position: relative; 
  }
  
  .custom-table-t5  th::before, .custom-table-t5 td::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: rgb(3, 74, 4); 
  }
  
  .custom-table-t5 th:first-child::before, .custom-table-t5 td:first-child::before {
    display: none; 
  }
  
  
  
  .custom-table-t5 th, .custom-table-t5 td {
    border-top: 1px solid rgb(3, 74, 4); 
    border-bottom: 1px solid rgb(3, 74, 4); 
  }
  
  .custom-table-t5 th:last-child{
    border-right: 0; 
  }
  
  
    .additional-data-t5{
    font-size: 96%;
    margin-top: -3%;
  
  }
  .name-t5 {
    font-size: 96%;
    margin-top: 3%;
    text-align: center;
    margin-left: 31%;
  }
.name-two-t5 {
    font-size: 87%;
    margin-top: -3%;
    text-align: center;
  }
  .horoscope-container-t5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .horoscope-container-t5{
    display: flex;
    flex-direction: row;
    margin-left: left;
    text-align: center;
  }
  
  .horoscope-table-t5 {
    border-collapse: collapse;
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    margin-top: -7px;
  
  }
  .horoscope-table-t5 td {
    border: 3px solid rgb(3, 74, 4);
    width: 24%;
    height: 50px;
    text-align: center;
    color: rgb(3, 74, 4);
  
  }
  
  
  
    .family-details-t5 {
      display: flex;
      justify-content: space-between;
    }
    
    .family-detail-t5  table {
      width: 100%;
      border-collapse: collapse;
      border: 2px solid rgb(3, 74, 4);
    }
    
    .family-detail-t5 th, .family-detail-t5 td {
      border: none; 
      padding: 5px;
    }
    
    .family-detail-t5 th {
      text-align: left;
      padding-right: 10px;
    }
    
      hr {
      margin-left: 1%;
      margin-right: -153%;
      border: 2px solid rgb(3, 74, 4);
      line-height:1.0%;
  
    }  
    .divider-t5 {
        margin-left: 2%;
        margin-right: -182%;
        border: 1px solid rgb(3, 74, 4);
        line-height: 0.6%;
      }
  .divider-one-t5{
    margin-left: -11%;
    margin-right: -75%;
      border: 1px solid rgb(3, 74, 4);
      line-height: 0.6%;
  }
  .divider-two-t5{
      margin-left: -11%;
      margin-right: -158%;
      border: 1px solid rgb(3, 74, 4);
      line-height: 0.6%;
  }
    
  .family-detail-right-t5 {
    width: 136%;
    margin-left: 21%;
    margin-right: -15%;
    line-height: 0.9;
  }
    
    .family-detail-left-t5 {
      width: 136%;
      height: 109%;
      margin-left: -14%;
      margin-right: -21%;
      line-height: 0.9;
    }
  
    
  .address-t5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(3, 74, 4);
  }
  .address-t5 {
    margin-bottom: 20px;
    text-align: center;
  }
  .name-one-t5 {
    font-size: 15px;
    margin-bottom: 13px;
    color: rgb(3, 74, 4);
    text-align: center;
    margin-top: 1%;
  }
  .full-address-t5{
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(3, 74, 4);
  }
  .phone-number-t5 {
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(3, 74, 4);
    text-align: center;
    margin-left: -6%;
  }
  
  .bottom-t5 {
    line-height: 0.4;
    margin-top: -4%;
    text-align: center;
    margin-left: 7%;
  }
  @media print {
    body, .a4 {
      margin: 0;
      box-shadow: none;
    }
    
  }
  